.menu-btns a,
nav ul li:before, nav ul li a:before, nav ul li a:after,
.button-set > a:hover,
.service:hover:before,
.toggle-item h3.active i,
.title:before,
.portfolio-hover > span a,
.member-img > a,
.icon-btn,
.icon-btn:hover i,
.list li:before,
.simple-btn:hover,
a.play-circle2,
.post-infos a:hover,
.post-img-carousel .owl-nav > div,
.dark-socials > a:hover,
.tagclouds > a:hover,
.mailing form button,
.pro-member-hover > a,
.product-links a:hover,
.table-name > i,
.dark-btn:hover,
.modern-author:before,
.product-btns,
.parallax-text > a ,
.coloured-btn,
.services-carousel .owl-dots .owl-dot,
.view-all > a,
.transparent-btn:hover,
.fancy-product-btns a:hover,
.sponsors-carousel .owl-nav > div:hover,
.work-img:after,
.skills .progress .progress-bar,
.support-team-carousel .owl-dots .owl-dot.active,
.style2 .toggle-item h3.active,
.tabs .nav li a:before,
.creative-post-img > span a:hover,
.style3 .toggle-item h3 i,
.style3 .content > span,
.style2 .nav li.active a,
.testimonials-carousel .owl-dot.active,
.light-social > a:hover,
.subscribe > button,
.affiliates-carousel .owl-nav > div:hover,
.field label:before,
.creative-hover > span a:hover,
.banner-link > a:hover,
.innovative-hover h4:before,
.innovative-links a:hover,
.special-service:hover,
.border-btn:hover,
.gallery-slide a i,
.intro-widget > a:hover,
.photos-carousel .owl-nav > div:hover,
.footer-widgets.style2 .widget:before,
.video-info .lightbox,
.fancy-post-img > i,
.feature-post-carousel .owl-dot.active,
.social-widget > a:hover,
.fancy-post-img-carousel .owl-nav > div:hover,
.fancy-video .play-circle,
.fancy-reviews-carousel.style2 .owl-dot.active,
.theme-green .back-bar .pointer,
.product-tabs .nav li.active a,
.cart-btns > button.style2,
.cart-total > a,
.faqs-page .nav li.active a,
.share-post > a:hover,
.comment-detail > a:hover,
.member-intro-inner > a,
.price-table.style2 .package-table:hover:before,
.subscribtion button:hover,
.layer3,
.layer8:hover,
.layer5,
.layer12:hover,
.layer13,
.rev_slider .ares .tp-bullet.selected,
.layer20,
.responsive-cart{
	background-color:#fb383b;
}

.rev_slider .ares .tp-bullet-title,
.rev_slider .ares .tp-bullet:hover,.rev_slider  .ares .tp-bullet.selected:hover{
	background-color:#fb383b!important;
}

.social-links a:hover,
.topbar-links > a i,
nav ul li a:hover,
.menu-btns a:hover,
.creative-detail > span,
.toggle-item h3.active,
.option-set li a.selected,
.portfolio-hover > i,
.portfolio-hover > span a:hover,
.big-slide-text  a.play-circle,
.mockup-detail > span,
.detail-box > a:hover,
.meta > li a:hover,
.post-detail > h4 a:hover,
.post-img-video a,
.widget-title > h4:before,
.readmore i,
.bottom-footer li a:hover,
.simple-title.light > span,
.product-name-inner > h5 a:hover,
.table-name > span,
.ceo-message > strong,
.modern-author a:hover,
.modern-post > h4 a:hover,
.product-img > span,
.product > h5 a:hover,
.parallax-text > span,
.parallax-text > a:hover,
.coloured-btn:hover,
.timer ul li,
.timer ul li p,
.transparent-btn,
.fancy-product-name > h4 a:hover,
.fancy-product-name > span a,
.icon-title > h2 i,
.detailed-title > span,
.support-member-intro > i,
.tabs .nav li.active a,
.tabs .nav li.active a i,
.creative-post-detail > h4 a:hover,
.mockup-text > span,
.content-text > strong,
.testimonial-info > span i,
.member-detail i.designation,
.simple-post-detail > h4 a:hover,
.contact-box > span,
.creative-hover > i,
.perfect-member > h5 a :hover,
.simple-banner-text > span,
.project-hover > h5 a:hover,
.project-hover > i,
.review > strong,
.simple-service i,
.services-carousel.style2 h5,
.innovative-hover > span,
.header-btns > a:hover,
.sideheader ul li:hover > a,
.company-ceo strong span,
.icon-btn.style2:hover,
.icon-btn.style2:hover i,
.intro-widget > a,
.about-widget.style2 li i,
.video-info > i,
.videos-img-carousel .owl-nav > div:before,
.options.style2 .option-set li a.selected,
.pagetop ul li a:hover,
.fancy-member-info > span,
.office-thumbs .owl-nav > div:hover:before,
.fancy-post-detail > h4 a:hover,
.pagination > ul li.active,
.news-detail > h4 a:hover,
.widget li a:hover,
.view-count a.active,
.popular-inner h6 a:hover,
.rating i,
.checkout-text > p a,
.your-order > h5,
.tagcloud > a:hover,
.member-intro-inner > span,
.layer4,
.layer7 span,
.layer15 i,
.layer19 i,
.header-search:hover:before,
.menu-item-has-children.active > a{
	color:#fb383b;
}

.button-set > a:hover,
.toggle-item h3.active i,
.options .option-set li a:after,
.options.style2 .option-set li a:after,
.big-slide-text  a.play-circle,
.simple-btn:hover,
.post-img-video a,
.product-links a:hover,
.ceo-message > span,
.product-img > span,
.timer ul li,
.transparent-btn,
.team-selectors > li a:before,
.affiliates-carousel .owl-nav > div:hover,
.field label,
.banner-link > a:hover,
.options.style4 .option-set li a.selected,
.icon-btn.style2:hover,
.icon-btn.style2:hover i,
.border-btn:hover,
.style2 nav ul li a:before,
.intro-widget > a,
.videos-img-carousel .owl-nav > div,
.style4 .toggle-item.activate,
.office-thumbs .owl-nav > div:hover,
.fancy-video .play-circle,
.toggle.style5 .toggle-item.activate,
.toggle.style5 .toggle-item h3.active i,
.comming-soon-page.style2 .timer ul li:before,
.layer4,
.layer12:hover,
.rev_slider .ares .tp-bullet:before,
.rev_slider .ares .tp-bullet.selected:after {
	border-color:#fb383b;
}


.tabs .nav li a:after,
.team-selectors > li a:after{
	border-top-color:#fb383b;
}
.testimonial-info strong:before{
	border-bottom-color:#fb383b;
}